<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] / TwitterClone</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/46e18bb4ff.js" crossorigin="anonymous"></script>
    @RenderSection("Styles", required: false)
</head>
<body>
<div class="display-flex">
    <header>
            <img src="TwitterLogo.png" class="twitter-icon" alt="">
            <div class="nav-left" style="width: 6rem;">
                <img src="~/img/icons/home.png" class="icons" alt="">
                <a class="section-layout" asp-area="" asp-controller="Start" asp-action="Inicio">Inicio</a>
            </div>
        
            <div class="nav-left" style="width: 11rem;">
                <img src="~/img/icons/notifications.png" class="icons" alt="">
                <a class="section-layout" asp-area="" asp-controller="Start" asp-action="Inicio"> Notificaciones</a>
            </div>
        
            <div class="nav-left" style="width: 8.5rem;">
                <img src="~/img/icons/private.png" class="icons" alt="">
                <a class="section-layout" asp-area="" asp-controller="Start" asp-action="Inicio">Mensajes</a>
            </div>
        
            <div class="nav-left aux-margin" style="width: 6rem;">
                <img src="~/img/icons/profile.png" class="icons" alt="">
                <a class="section-layout" asp-area="" asp-controller="Start" asp-action="Inicio">Perfil</a>
            </div>
            <a class="tweet-button-left">Twittear</a>
    </header>

    <main role="main">
        @RenderBody()
    </main>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
