@model List<User>

@section Styles{
    <link rel="stylesheet" href="~/css/start.css" />
    <link rel="stylesheet" href="~/css/followfollowing.css" />
}

@{
    bool FollowingClick = (ViewBag.FollowingClick != null);
    bool FollowersClick = (ViewBag.FollowersClick != null);
}

<div class="container-main">
    <div class="container-first-part">
        <div class="header-first-part">
            <i class="fas fa-arrow-up"></i>
            <div class="user-information">
                <p class="user-name">Mark</p>
                <p class="user-username">markkk41</p>
            </div>
        </div>

        <div class="follow-sections">
            <a href="#" class="followers-text">Seguidores</a>
            <a href="#" class="following-text">Siguiendo</a>
        </div>
    </div>

    <div class="follow-container">
        <div class="information-container">
            <span class="dot-tweet"></span>
            <div class="user-dates">
                <p class="name-info">Mark</p>
                <div class="follow-you">
                    <p class="username-info">markkk41</p>
                    <p class="is-follow-you">Te sigue</p>
                </div>
                <p class="user-description">22. Programación UNLZ. Desarrollador Web FullStack</p>
            </div>
            <!--<a href="#" class="follow-btn" id="follow-button">Seguir</a>-->
            <span class="following-btn" id="following-button">Siguiendo</span>
        </div>
    </div>


</div>