@section Styles{
    <link rel="stylesheet" href="~/css/start.css" />
}

@model List<Tweet>
    
<div class="container-main">
    <div class="home">
        <p>Inicio</p>
    </div>
    <div class="new-tweet">
        <img src="@ViewBag.ProfilePicture" class="dot-new-tweet" alt="">
        <textarea name="" id="tweet-text" cols="30" rows="10" placeholder="¿Qué está pasando?" maxlength="280" required></textarea>
        <hr class="line">
        <input type="submit" class="tweet-button" value="Twittear">
    </div>

        <div id="container-all-tweets"></div> 
</div>

@section Scripts{
    <script src="~/js/inicio.js"></script>
}