@section Styles{
    <link rel="stylesheet" href="~/css/start.css" />
}
    
    <div class="container-main">
        <div class="home">
            <p>Inicio</p>
        </div>
        <div class="new-tweet">
            <span class="dot-new-tweet"></span>
            <textarea name="" id="" cols="30" rows="10" placeholder="¿Qué está pasando?" maxlength="280"></textarea>
            <hr class="line">
            <a href="#" class="tweet-button">Twittear</a>
        </div>

        <div class="tweet-container">
            <span class="dot-tweet"></span>
            <div class="text-tweet-container">
                <div class="user-tweet-details">
                    <p>Mike Luca</p>
                    <p>MikeLuka7</p>
                </div>
                <p>Mi papá siempre me dijo: "dime con quién andas y te diré quién eres". Eso mismo se aplica para nuestro Gobierno. Estamos alineados a China, Rusia, Bolivia, somos cómplices de Cuba y Venezuela. Países dónde se viven vulnerando libertades de todo tipo. ¿Qué puede salir mal?</p>
                <div class="cm-rt-mg">
                    <div class="comment-icon">
                        <a href="" ><img src="~/img/icons/comment.png" alt=""></a>
                        <a href="" ><img src="~/img/icons/comment-hover.png" alt="" class="hover-comment"></a>
                    </div>
                    <div class="retweet-icon">
                        <a href=""><img src="~/img/icons/retweet.png" alt=""></a>
                        <a href=""><img src="~/img/icons/retweet-hover.png" alt="" class="hover-retweet"></a>
                    </div>
                    <div class="like-icon">
                        <a href=""><img src="~/img/icons/like.png" alt=""></a>
                        <a href=""><img src="~/img/icons/like-hover.png" alt="" class="hover-like"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tweet-container">
            <span class="dot-tweet"></span>
            <div class="text-tweet-container">
                <div class="user-tweet-details">
                    <p>Mike Luca</p>
                    <p>MikeLuka7</p>
                </div>
                <p>Mi papá siempre me dijo: "dime con quién andas y te diré quién eres". Eso mismo se aplica para nuestro Gobierno. Estamos alineados a China, Rusia, Bolivia, somos cómplices de Cuba y Venezuela. Países dónde se viven vulnerando libertades de todo tipo. ¿Qué puede salir mal?</p>
                <div class="cm-rt-mg">
                    <div class="comment-icon">
                        <a href="" ><img src="~/img/icons/comment.png" alt=""></a>
                        <a href="" ><img src="~/img/icons/comment-hover.png" alt="" class="hover-comment"></a>
                    </div>
                    <div class="retweet-icon">
                        <a href=""><img src="~/img/icons/retweet.png" alt=""></a>
                        <a href=""><img src="~/img/icons/retweet-hover.png" alt="" class="hover-retweet"></a>
                    </div>
                    <div class="like-icon">
                        <a href=""><img src="~/img/icons/like.png" alt=""></a>
                        <a href=""><img src="~/img/icons/like-hover.png" alt="" class="hover-like"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tweet-container">
            <span class="dot-tweet"></span>
            <div class="text-tweet-container">
                <div class="user-tweet-details">
                    <p>Mike Luca</p>
                    <p>MikeLuka7</p>
                </div>
                <p>Mi papá siempre me dijo: "dime con quién andas y te diré quién eres". Eso mismo se aplica para nuestro Gobierno. Estamos alineados a China, Rusia, Bolivia, somos cómplices de Cuba y Venezuela. Países dónde se viven vulnerando libertades de todo tipo. ¿Qué puede salir mal?</p>
                <div class="cm-rt-mg">
                    <div class="comment-icon">
                        <a href="" ><img src="~/img/icons/comment.png" alt=""></a>
                        <a href="" ><img src="~/img/icons/comment-hover.png" alt="" class="hover-comment"></a>
                    </div>
                    <div class="retweet-icon">
                        <a href=""><img src="~/img/icons/retweet.png" alt=""></a>
                        <a href=""><img src="~/img/icons/retweet-hover.png" alt="" class="hover-retweet"></a>
                    </div>
                    <div class="like-icon">
                        <a href=""><img src="~/img/icons/like.png" alt=""></a>
                        <a href=""><img src="~/img/icons/like-hover.png" alt="" class="hover-like"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tweet-container">
            <span class="dot-tweet"></span>
            <div class="text-tweet-container">
                <div class="user-tweet-details">
                    <p>Mike Luca</p>
                    <p>MikeLuka7</p>
                </div>
                <p>Mi papá siempre me dijo: "dime con quién andas y te diré quién eres". Eso mismo se aplica para nuestro Gobierno. Estamos alineados a China, Rusia, Bolivia, somos cómplices de Cuba y Venezuela. Países dónde se viven vulnerando libertades de todo tipo. ¿Qué puede salir mal?</p>
                <div class="cm-rt-mg">
                    <div class="comment-icon">
                        <a href="" ><img src="~/img/icons/comment.png" alt=""></a>
                        <a href="" ><img src="~/img/icons/comment-hover.png" alt="" class="hover-comment"></a>
                    </div>
                    <div class="retweet-icon">
                        <a href=""><img src="~/img/icons/retweet.png" alt=""></a>
                        <a href=""><img src="~/img/icons/retweet-hover.png" alt="" class="hover-retweet"></a>
                    </div>
                    <div class="like-icon">
                        <a href=""><img src="~/img/icons/like.png" alt=""></a>
                        <a href=""><img src="~/img/icons/like-hover.png" alt="" class="hover-like"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tweet-container">
            <span class="dot-tweet"></span>
            <div class="text-tweet-container">
                <div class="user-tweet-details">
                    <p>Mike Luca</p>
                    <p>MikeLuka7</p>
                </div>
                <p>Mi papá siempre me dijo: "dime con quién andas y te diré quién eres". Eso mismo se aplica para nuestro Gobierno. Estamos alineados a China, Rusia, Bolivia, somos cómplices de Cuba y Venezuela. Países dónde se viven vulnerando libertades de todo tipo. ¿Qué puede salir mal?</p>
                <div class="cm-rt-mg">
                    <div class="comment-icon">
                        <a href="" ><img src="~/img/icons/comment.png" alt=""></a>
                        <a href="" ><img src="~/img/icons/comment-hover.png" alt="" class="hover-comment"></a>
                    </div>
                    <div class="retweet-icon">
                        <a href=""><img src="~/img/icons/retweet.png" alt=""></a>
                        <a href=""><img src="~/img/icons/retweet-hover.png" alt="" class="hover-retweet"></a>
                    </div>
                    <div class="like-icon">
                        <a href=""><img src="~/img/icons/like.png" alt=""></a>
                        <a href=""><img src="~/img/icons/like-hover.png" alt="" class="hover-like"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tweet-container">
            <span class="dot-tweet"></span>
            <div class="text-tweet-container">
                <div class="user-tweet-details">
                    <p>Mike Luca</p>
                    <p>MikeLuka7</p>
                </div>
                <p>Mi papá siempre me dijo: "dime con quién andas y te diré quién eres". Eso mismo se aplica para nuestro Gobierno. Estamos alineados a China, Rusia, Bolivia, somos cómplices de Cuba y Venezuela. Países dónde se viven vulnerando libertades de todo tipo. ¿Qué puede salir mal?</p>
                <div class="cm-rt-mg">
                    <div class="comment-icon">
                        <a href="" ><img src="~/img/icons/comment.png" alt=""></a>
                        <a href="" ><img src="~/img/icons/comment-hover.png" alt="" class="hover-comment"></a>
                    </div>
                    <div class="retweet-icon">
                        <a href=""><img src="~/img/icons/retweet.png" alt=""></a>
                        <a href=""><img src="~/img/icons/retweet-hover.png" alt="" class="hover-retweet"></a>
                    </div>
                    <div class="like-icon">
                        <a href=""><img src="~/img/icons/like.png" alt=""></a>
                        <a href=""><img src="~/img/icons/like-hover.png" alt="" class="hover-like"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tweet-container">
            <span class="dot-tweet"></span>
            <div class="text-tweet-container">
                <div class="user-tweet-details">
                    <p>Mike Luca</p>
                    <p>MikeLuka7</p>
                </div>
                <p>Mi papá siempre me dijo: "dime con quién andas y te diré quién eres". Eso mismo se aplica para nuestro Gobierno. Estamos alineados a China, Rusia, Bolivia, somos cómplices de Cuba y Venezuela. Países dónde se viven vulnerando libertades de todo tipo. ¿Qué puede salir mal?</p>
                <div class="cm-rt-mg">
                    <div class="comment-icon">
                        <a href="" ><img src="~/img/icons/comment.png" alt=""></a>
                        <a href="" ><img src="~/img/icons/comment-hover.png" alt="" class="hover-comment"></a>
                    </div>
                    <div class="retweet-icon">
                        <a href=""><img src="~/img/icons/retweet.png" alt=""></a>
                        <a href=""><img src="~/img/icons/retweet-hover.png" alt="" class="hover-retweet"></a>
                    </div>
                    <div class="like-icon">
                        <a href=""><img src="~/img/icons/like.png" alt=""></a>
                        <a href=""><img src="~/img/icons/like-hover.png" alt="" class="hover-like"></a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
