.header-login{
    color: #fff;
    text-align: center;
    margin: 1.5rem 0;
}

.form1{
    padding: 0 30%;
}

p{
    padding: 4px;
    margin: 0;
    color: rgba(170, 168, 168, .8);
    font-size: 15px;
}

input{
    background-color: rgb(21, 32, 43);
    outline: none;
    text-decoration: none;
    border: none;
    color: #fff;
}

.username-content, .password-content{
    border: 3px;
    border: rgba(170, 168, 168, .3);
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1.5rem;
    border-radius: 5px;
}

.content-clicked{
    border: rgb(29, 161, 210);
    border-style: solid;
    border-width: 1.5px;
}

.aux-text{
    text-align: center;
    margin-top: 2rem;
}

a{
    color: rgb(9, 117, 156);
}

a:hover{
    color: rgb(9, 117, 156);
}

.submit{
    background-color: rgb(29, 161, 210);
    border: none;
    color: #fff;
    width: 100%;
    justify-content: center;
    padding: 10px 0;
    border-radius: 25px;
    font-weight: bold;
    display: flex;
    margin-bottom: 1rem;
}

.submit:focus{
    outline: none;
}