body{
  font-family: 'Neue Helvetica', sans-serif;
  background-color: rgb(21, 32, 43)
}

.text-information{
  background-color: rgb(29, 161, 242);
  font-weight: 600;
  color: #fff;
  align-items: center;
  width: 100%;
  padding: 10.7rem 0;
}

.text-information p{
  margin: 10% 30% 10% 25%;
  font-size: 20px;
}

.fa-search, .fa-user-friends, .fa-comment{
  margin-right: 1rem;
}

.text-options{
  margin-top: 25%;
  color: #fff;
  font-weight: bold;
  padding: 0 10rem;
}

.text-options p{
  margin-top: 5rem;
}

.text-options a{
  text-decoration: none;
}

.options-buttons{
  display: block;
}

.register-button{
  color: #fff;
  background-color: rgb(29, 161, 242);
  width: 100%;
  justify-content: center;
  padding: 8px 0;
  border-radius: 25px;
  font-weight: bold;
  display: flex;
  margin-bottom: 1rem;
}

.register-button:hover{
  color: #fff;
  background-color: rgb(26, 145, 218);
}

.login-button{
  color: rgb(29, 161, 210);
  border: rgb(29, 161, 210);
  border-style: solid;
  border-width: 1px;
  width: 100%;
  justify-content: center;
  padding: 8px 0;
  border-radius: 25px;
  font-weight: bold;
  display: flex;
  margin-bottom: 1rem;
}

.login-button:hover{
  background-color: rgb(22, 45, 64);
  color: rgb(29, 161, 210);
}

.fa-twitter{
  font-size: 2rem;
  margin-bottom: 1.5rem;
}